@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

header, article, nav, aside {
  padding: 1em;
}

.material-icons {
  font-size: 20px;
}

// Bounce animation

.bounce-enter-active {
  animation: bounce-in .3s;
}

.bounce-leave-active {
  animation: bounce-in .3s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
